.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fcfaf9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 60px;
  height: 100%;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Valers Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebar-img {
  height: 150px;
  margin-top: 15px;
}

.sidebar-p {
  padding: 30px;
}

.sidebar-list {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-list-item {
  flex: 50%;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.sidebar-social {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon {
  font-size: 16px;
  margin-left: 10px;
}
